html {
  background-color: rgb(17, 135, 186);
  height: 100%;
}

.App {
  padding: 5%;
  text-align: center;
  font-size: 17px;
  background-color: rgb(17, 135, 186);
  height: 100%;
}

.main-title {
  font-size: 50px;
  color: whitesmoke;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  font-family: 'Bungee Shade', cursive;
}

.input-div {
width: 100%;
margin-top: 4%;
}

.input-month {
  width: 37%!important;
  height: 40px;
  border: solid black 1px;
  font-size: 20px;
  box-shadow: 0px 13px 34px 4px rgba(0,0,0,.3);
}

.button-submit {
  border: solid black 1px;
  height: 40px;
  box-shadow: 0px 13px 34px 4px rgba(0,0,0,.3);
}

.party-pic {
  width: 673px;
  height: 400px;
  position: fixed;
  left: 30%;
  top: 26.5%;
  z-index: 0;
}

.post-div {
  margin-top: 208px;
  color: whitesmoke;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  font-size: 50px;
}

.post-date {
  font-size: 40px;
}

.post-date-since {
 font-size: 19px;
}

.fade {
  animation-name: fade-in;
  animation-duration: 2s;
}

.age-stats {
  opacity: 100;
}

@keyframes fade-in {
  from { opacity:  0 }
  to { opacity: 100 }
}
